<main >
  <h1>Join Kurama-Zoom</h1>
  <br>
</main>

<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="mb-3">
          <input type="text" [(ngModel)]="meetingNumber" aria-required="true" class="form-control input-lg  w-50" placeholder="Meeting Id">
        </div>
        <div class="mb-3">
          <button (click)="getSignature()">Join Meeting</button>
        </div>
      </div>
      <div class="col-md-4"></div>

    </div>

</div>
